.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.label p {
  font-size: 16px;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 10px;
  background: var(--white);
  border: 1px solid #29313e;
  border-radius: 6px;
}

.required {
  color: #d04b4b;
}
