.container {
  display: flex;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 20px;
  height: max-content;
  padding: 24px 32px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
}

.btnContainer {
  display: flex;
  justify-content: end;
  gap: 20px;
  width: 100%;
  padding-top: 40px;
}

.btn:first-child {
  border: 1px solid var(--darkblue);
}

.btn:last-child {
  color: var(--white);
  background-color: var(--darkblue);
}

.containerPDf {
  flex: 1 0 0;
  align-self: stretch;
  min-height: 70vh;
  border-radius: 20px;
  overflow-x: none;
}
